body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#response {
    margin-top: 20px;
    text-align: center;
}

#count {
    position: relative;
    top: 20px;
    left: 70%;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

#selected {
    color: #5ed310;
}

.urlWrapper,
.longUrlWrapper {
    display: flex;
    align-items: center;
}

#shortUrlPrefix,
#longUrlPrefix {
    flex: 0.30;
}

.shortUrlInput {
    flex: 0.70;
    display: flex;
}

.longUrlInput {
    flex: 1;
    display: flex;
}

#shortUrl,
#longUrl {
    flex: 1;
    width: 0;
    margin-left: 12px !important;
}

svg {
    width: 15px;
    height: 15px;
}

#copyButton {
    padding: 3px !important;
}